<%- include('./partials/header') %> 

<h1>Create a message</h1>
    <form id="messageForm" action="" method="POST">
        <label for="messageTitle">Title:</label>
        <input type="text" name="messageTitle" required>
        <label for="messageText">Message:</label>
        <input type="text" name="messageText" required>
        <button>Post Message</button>
    </form>

<%- include('./partials/footer') %> 