<%- include('./partials/header') %> 

<div id="secretpasswordPage">
    <h1>Type Secret Password To See Message Authors</h1>
    <div id="passwordFormContainer">
        <form id="passwordForm" action="" method="POST">
            <label for="messageTitle">Password:</label>
            <input type="text" name="secretPassword" required>
            <button>Submit Password</button>
        </form>
    </div>   
</div>

<%- include('./partials/footer') %> 