@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
}

#signupForm, #messageForm, #loginForm, #passwordForm {
    display: inline-grid;
}

#signupForm > [name="confirmPassword"], [name="username"], [name="email"] {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#signupForm > [for="password"] {
    margin-bottom: 0.5rem;
}

#messageForm > [name="messageTitle"], [name="messageText"] {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#loginForm > [name="password"], [name="username"] {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#passwordForm > [name="secretPassword"] {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

#navbar {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    width: 100%;
    height: 3rem;
    background-color: #5e66aa;
}

#navbar > ul, li, a {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#navbar p {
    display: inline-block;
    margin: 0 1rem 0 1rem;
}

.navBtn {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: auto;
    background-color: #dcd6f7;
    text-decoration: none;
    color: black;
    margin: 0 1rem 0 1rem;
    padding: 0 0.5rem 0 0.5rem;
}

#homeContent {
    font-family: 'Roboto';
    background-color: #a6b1e1;
}

#homeContent > h2 {
    font-weight: normal;
}

#homeContent > h1, h2 {
    display: flex;
    justify-content: center;
    padding: 1rem 0 1rem 0;
    margin: 0;
}

#posts {
    background-color: #f4eeff;
    min-height: 82vh;
}

#posts > h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0 1rem 0;
}

.message {
    border-radius: 20px;
    background-color: #dcd6f7;
    margin-left: 35%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    max-width: 30%;
}

.message h1, p {
    word-break: break-all;
    margin: 0;
    display: flex;
}

.message p {
    margin-top: 0.5rem;
    font-weight: 900;
}

#navbar > p {
    font-weight: 700;
}

#signupPage, #loginPage, #secretpasswordPage {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto auto 1fr;
    margin: 0;
    background-color: #f4eeff;
    min-height: 100vh;
}

#signupPage h1, #loginPage h1, #secretpasswordPage h1 {
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
    margin: 5rem 0 2rem 0;
    grid-column: 2 / 2;
}

#signupForm, #loginForm, #passwordFormContainer {
    font-family: 'Roboto';
    grid-column: 2 / 2;
}

#passwordForm {
    width: 158px;
}

#passwordFormContainer {
    display: flex;
    justify-content: center;
}
